*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Josefin Sans", sans-serif;
}

.home--page{
	background-image: url(https://iili.io/HaIyT0v.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	top: 0;
}

#ham{
	background-color: rgba(255, 255, 255, .3);
}

#main--nav .name{
	font-size: 2.5rem;
	font-family: "Lora", sans-serif;
	font-weight: bold;
	color: #000066;
}

#main--nav ul li{
	list-style-type: none;
	display: inline-block;
	margin-right: 0.7rem;
	font-weight: bold;
	font-size: 1.3rem;
}

#main--nav ul li a{
	color: white;
	text-decoration: none;
	padding: 0 1rem;
	transition: ;
}

/*Sink Hover*/
.sink-on-hover {
	
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.sink-on-hover:hover, .sink-on-hover:focus, .sink-on-hover:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);

}

/*Underline Hover*/
#main--nav ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

#main--nav ul li a:hover:after { 
  width: 80%; 
  left: 10%; 
}

#main--intro{
	background-color: rgb(255,255,255,.5);
	color: black;
	border-radius: 25px;
	text-align: center;
	z-index: 1;
}

#main--intro h3{
	font-size: 4.5rem;
	letter-spacing: 0.4rem;
}

#main--intro h2 span{
	font-family: "Josefin Sans", sans-serif;
	color: #0000b3;
	font-weight: bold;
	font-size: 3.3rem;
}

#about-me, #contact{
	background-color: #e6e6ff;
}

#about-me div div h1{
	color: #000066;
}

#projects, #contact div form, #button{
	background-color: #000033;
}

#projects div div div h5,#contact h2{
	color: #000066;
	font-weight: bold;
}

#projects div div{
	background-color: #e6e6ff;
}
#button-2{
	color: #000033;
}